@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #e8e8e8;
  --foreground: #171717;
}
.dark {
  --background: #171717;
  --foreground: #ffffff;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@theme inline {
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;

  @keyframes orbit {
    0% {
      transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px))
        rotate(calc(var(--angle) * -1deg));
    }
    100% {
      transform: rotate(calc(var(--angle) * 1deg + 360deg)) translateY(calc(var(--radius) * 1px))
        rotate(calc((var(--angle) * -1deg) - 360deg));
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-mono), sans-serif;
  margin: 0px;
}
